@{
    ViewData["Title"] = "Companies";
}

<section id="company-wrap">
    <h1>AI Companies</h1>
    <p>
        Top 12 AI companies: Alphabet (Google), Amazon, Apple, C3.AI, DocuSign, IBM, Meta Platforms, Micron Technology, Microsoft, Nvidia, Oracle, Siemens.
    </p>

    <div id="companies-list">
    </div>
</section>

