@{
    ViewData["Title"] = "Contact";
}

<section id="cont-wrap">
    <h1>Contact & About</h1>

    <div class="row m-0 p-3">
        <div class="col-md-4 col-12">
            <div class="contact p-4">
                <h2>Contact Us</h2>
                <p>This website was written by Parth Goyal<br />To get in contact please email u3223149@uni.canberra.edu.au</p>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="contact p-4">
                <h2>About Us</h2>
                <p>This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra. <br />This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.</p>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="contact p-4">
                <h2>Copyright</h2>
                <p>
                    All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a>.<br />
                    The icons for the footer from <a href="https://fontawesome.com/">fontawesome</a>.<br />
                    The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts</a>.<br />
                    The AI jobs dataset from <a href="https://insights.ai-jobs.net/">Insights</a>.<br />
                    The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>.<br />
                    The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>.<br />
                </p>
            </div>
        </div>
    </div>
</section>
