@{
    ViewData["Title"] = "Home Page";
}

<section id="first-video">
    <video id="first-video-video" loop muted autoplay="autoplay" preload="auto">
        <source src="~/videos/video.mp4" type="video/mp4" />
    </video>
    <div id="first-video-overlay">
        <h1>Artificial Intelligence</h1>
        <p>Artificial Intelligence (AI) is intelligence demonstrated by machines, as opposed to the natural intelligence displayed by animals including humans. AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals. <br />Wikipedia</p>
    </div>
</section>

<section id="AI-tech" class="parallex">
    <h1>Top 6 AI Technologies</h1>
</section>

<section id="AI-job" class="parallex">
    <div id="home-jobs">
        <h1>AI Jobs in the last 3 years</h1>
        <img class="img-fluid" src="~/images/jobs/top7jobs.jpg" />
    </div>
    <div id="AI-company">
        <h1>Top 12 AI Companies</h1>
    </div>
</section>